.meme-generator{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.meme-generator img{
    height: 430px;
    object-fit: cover;
}

.meme-generator .meme-generator-btn{
    padding: 10px;
    border-top: 4px solid black;
    border-left: 4px solid black ;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    margin: 24px;
    font-size: 20px;
    color: rgb(13, 4, 1);
    background-color: cornflowerblue;
    cursor: pointer;
    transition: all 400ms ease;
}
.meme-generator .meme-generator-btn:hover{
    padding: 8px;
    border-left: 8px solid black;
    border-right: 8px solid black;
    letter-spacing: 3px;
}
.meme-generator .meme-author{
    margin: 8px;
}